
body {
    background-color: chocolate;
    margin: 20px;
    padding: 0;
}

/* Mobile Menu Icon Style */
.menu-icon {
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding: 5px;
    display: none;
    transition: all 0.3s ease-in-out;
}

.menu-icon span {
    height: 4px;
    background: black;
    border-radius: 2px;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.menu-icon.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-icon.open span:nth-child(2) {
    opacity: 0;
}

.menu-icon.open span:nth-child(3) {
    transform: rotate(-45deg) translate(10px, -10px);
}

/* Navigation Menu */
.navmenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(19, 19, 146);
    width: 100%;
    max-width: 1500px;
    padding: 5px 0;
    border-radius: 5px;
}

/* Link and Link Hover */
a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

a:hover {
    background-color: black;
    padding: 5px 10px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .menu-icon {
        display: flex;
    }

    .navmenu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        gap: 10px;
    }

    .navmenu.active {
        display: flex;
    }
}
