
body{
    background-color: chocolate;
    margin: 20px;
    padding: 0;
}

.menu-icon{
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding: 5px;
}

.menu-icon span{
    height: 4px;
    background: black;
    border-radius: 2px;
    width: 100%;
}

.navmenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(19, 19, 146);
    width: 100%;
    max-width: 1500px;
    padding: 5px 0;
    border-radius: 5px;
}

a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

a:hover{
    background-color: black;
    padding: 5px 10px;
}