/* Predefined variables */
:root {
    --primary-color: #005A9A;
    --secondary-color: #ED1B38;
    --background-color: #F7F5F4;
    --color: #FFFFFF;
    --Nav-color: black;
}

/* Body */
body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

/* Container */
.container {
    max-width: 1200px;
    margin: 0;
    padding: 0 20px;
}

/* Navigation Menu */
.navmenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    background-color: var(--background-color);
    /* border-bottom: 2px solid var(--primary-color); */
}

/* Logo */
.logo {
    width: 200px;
    height: auto;
}

/* Main Navigation Menu with hover */
.main-nav-menu {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav-menu li a {
    text-decoration: none;
    color: var(--Nav-color);
    font-weight: 600;
    font-size: 20px;
    transition: color 0.3s ease;
}

.main-nav-menu li a:hover{
    color: var(--primary-color);
}

/* Hero Section */
.hero-section{
    padding: 30px;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--color);
}

/* Hero Heading and Paragraph */
.text-heading{
    font-size: 80px;
}

.hero-paragraph{
    display: block;
    /* background-color: var(--secondary-color); */
    padding: 10px;
    font-size: 40px;
    margin: 30px auto;
}

/* Button */
.btn{
    padding: 15px;
    border: none;
    background-color: var(--secondary-color);
    font-size: 25px;
    font-weight: 600;
    color: var(--color);
    cursor: pointer;
    border-radius: 4px;
}

.btn:hover{
    background-color: var(--background-color);
    color: var(--Nav-color);
}