* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin: 0;
}

/* Container */
.container{
    background: white;
    width: 100%;
    max-width: 800px;
    text-align: center;
    padding: 50px 20px;
    border-radius: 5px;
}

/* Heading */
h2{
    margin: 0;
    font-size: 40px;
    opacity: 0.7;
}

/* Jokes Div */
.joke{
    margin: 30px;
    font-size: 30px;
}

/* Button and Button Hover */
.btn{
    padding: 15px 30px;
    margin: 30px;
    border: none;
    background-color: rgb(15, 15, 136);
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 4px;
}

.btn:hover{
    background-color: rgb(22, 8, 8);
}