* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black
}

.container{
    background: white;
    width: 100%;
    max-width: 800px;
    text-align: center;
    padding: 50px;
}