*{
    box-sizing: border-box;
}


body{
    background-color: black;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container{
    background-color: white;
    color: black;
    padding: 50px 20px;
    max-width: 100%;
    width: 800px;
    border-radius: 5px;
}