body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.country-flag-container{
    display: flex;
    padding: 50px;
    border: 1px solid red;
    width: 1000px;
    justify-content: space-around;
}

.flag-item{
    display: flex;
    flex-direction: column;
}

.flag-item img{
    width: 150px;
    height: 90px;
    object-fit: cover;
}

.btn{
    margin-top: 10px;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    background-color: blue;
    text-align: center;
    color: white;
}